@tailwind base;
@tailwind components;
@tailwind utilities;

#root:has(.root-loader) {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#root .root-loader {
  border: 10px solid;
  border-color: #000 #000 #000 #fff;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: relative;
  box-sizing: border-box;
  animation: spin 500ms infinite linear;
}

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;

    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;

    --primary: 209 39% 47%;
    --primary-dark: 208 47% 31%;
    --primary-foreground: 210 20% 98%;

    --secondary: 210 14.48% 38.91%;
    --secondary-foreground: 220.9 39.3% 11%;

    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;

    --accent: 207 33% 95%;
    --accent-foreground: 220.9 39.3% 11%;

    --destructive: 360 85% 63%;
    --destructive-foreground: 210 20% 98%;

    --disabled: 204 2% 52%;

    --grey: 204 2% 52%;

    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 224 71.4% 4.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;

    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;

    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;

    --primary: 210 20% 98%;
    --primary-foreground: 220.9 39.3% 11%;

    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;

    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;

    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;

    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 216 12.2% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
